{% extends "base.html" %}
{% block content %}
<h2>Welcome Admin</h2>
<script type="text/javascript" src="{{url_for('static',filename='script.js')}}">
</script>
<select id="dealers">
{% for dlr1 in dlr %}
<option value="{{dlr1.name}}">{{dlr1.name}}</option>
{%endfor%}
</select>
<button onclick="value()">Submit</button>

<!-- <form action="" method="POST" id="signupform">
Username: <input type = 'text' name='username' placeholder="Username" id = 'username'><br>
	Password: <input type = 'password' name='password' placeholder="Password" id = 'password'><br>
	<input type="submit" value="Submit">
</form> -->
<!-- {% if flash %}
	<strong>{{flash}}</strong>
{% endif %} -->
<script type="text/javascript" src="{{url_for('static',filename='value.js')}}">
</script>
{%endblock%}