<html>
<head>
<title>{{title}}
</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<h2><b>Welcome Admin</b></h2>
<form action="" method="POST" id="adminform" name="myForm">
<select name="dealers">
{% for dlr1 in dlr %}
<option value="{{dlr1.name}}">{{dlr1.name}}</option>
{%endfor%}
</select>
<input type="submit" value="Submit">
</form>
{%if detail%}
<h3> Dealer Name:&nbsp;&nbsp;&nbsp;{{detail.full_name}}</h3>
<h3> Mobile No.:&nbsp;&nbsp;&nbsp;&nbsp;{{detail.mob}}</h3>
<h3> Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{detail.email}}</h3>
{%endif%}
<table border="1px" class="table table-hover table-condensed">
<tr>
	<td><b>Name</b></td>
	<td><b>Mobile</b></td>
	<td><b>Email</b></td>
	<td><b>Deal</b></td>
	<td><b>Comments</b></td>
</tr>
{%if ans%}
<br><br>
{%for ans1 in ans%}
<tr>
	<td>{{ans1.name_user}}</td>
	<td>{{ans1.mob}}</td>
	<td>{{ans1.email}}</td>
	<td>{{ans1.deal}}</td>
	<td>{{ans1.comments}}</td>
</tr>
{%endfor%}
{%endif%}
</table>
<br>
<a href="/admin_logout" class="btn btn-info">Logout</a>

<!-- <form action="" method="POST" id="signupform">
Username: <input type = 'text' name='username' placeholder="Username" id = 'username'><br>
	Password: <input type = 'password' name='password' placeholder="Password" id = 'password'><br>
	<input type="submit" value="Submit">
</form> -->
<!-- {% if flash %}
	<strong>{{flash}}</strong>
{% endif %} -->
</body>
</html>