
<html>
<head><title>User {{user.full_name}}</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>
<body>
<script type="text/javascript" src="{{url_for('static',filename='script.js')}}">
</script>
<center><h2>Welcome {{user.full_name}}</h2></center>
<br>
<form action="" method="POST" id="userform" name="myForm" role="form" >
		Name:<input type="text" name="name_user" placeholder="Name" id="name" required>
Mobile no:<input type="number" maxlength="10" minlength="10" name="mob" placeholder="Mobile Number" id="mob" required>
E-mail:<input type="email" name="email" placeholder="me@example.com" id="email"required>
Status of Deal:<select name="deal" id="option">
  <option>Ongoing</option>
  <option>Accepted</option>
  <option>Closed</option>
</select>
Comments:<input type="text" id="com" name="comments" placeholder="Comments" id="comments" required>
		<input type="submit" value="Submit">
</div>
<br><br><br><br>
<div class="table-responsive"> 
<table border=1px id="myTable" class="table table-hover table-condensed">
<tr bgcolor="yellow">
<td><strong>Name</strong></td>
<td><strong>Mobile Number</strong></td>
<td><strong>E-mail</strong></td>
<td><strong>Status of Deal</strong></td>
<td><strong>Comments</strong></td>
</tr>
</table>
</div>

<script>
rows1=1
function myfunc2()
{
	var table=document.getElementById("myTable");
	var i;
	{% for row in rows %}
	var row1= table.insertRow(rows1);
	row1.style.width="2px";
	
	for(i=0;i<5;i++)
	{
	var cell =row1.insertCell(i);
	cell.id="{{row._id}}";
	if(i==0)
		cell.innerHTML="{{row.name_user}}";
	if(i==1)
		cell.innerHTML="{{row.mob}}";
	if(i==2)
		cell.innerHTML="{{row.email}}";
	if(i==4)
	{cell.innerHTML="{{row.comments}}";cell.contentEditable=true;cell.onblur=comment}
	if(i==3)
	{	
		var select1=document.createElement("SELECT"); 
		//select1.id="s"+cell.id;
		var x = document.createElement("OPTION");
    var t = document.createTextNode("Ongoing");
	x.appendChild(t);
	var x1 = document.createElement("OPTION");
    var t = document.createTextNode("Accepted");
	x1.appendChild(t);
	var x2 = document.createElement("OPTION");
    var t = document.createTextNode("Closed");
	x2.appendChild(t);
	select1.appendChild(x);
	select1.appendChild(x1);
	select1.appendChild(x2);
    cell.appendChild(select1);
    select1.value="{{row.deal}}";
    select1.id=cell.id;
    select1.onclick=select;
	}
	//Database
	}rows1++;
	{%endfor%}
}
myfunc2();
function comment()
{
	var comment1=this.innerHTML;
	//comment1= comment1.replace(/&nbsp;/g, " ");
	//comment1= comment1.replace(/<br>/g, "	");
	//comment1 = comment1.replace("&nbsp;", " ");
	//comment1 = comment1.replace("<br>", "    ");
	//alert(comment1);
	var id1=this.id;
	
	$.ajax({
			type:"GET",//Check and change it to GET
			url:"/update_comment",
			data: {id: id1,comment:comment1},

			success: function(answer)
			{
				console.log(answer);
				console.log(answer.comments,answer.id1);
				alert("Change Ackonowledge");
			},
			error: function(err)
			{
				console.log(err);
				alert(err);
				alert("Error");
			}
		});
}

function select()
{
	var select=this.value;
	var id1=this.id;
	$.ajax({
			type:"GET",//Check and change it to GET
			url:"/update_deal",
			data: {id: id1,deal:select},

			success: function(answer)
			{
				console.log(answer);
				//console.log(answer.comments,answer.id1);
				alert("Change Ackonowledge");
			},
			error: function(err)
			{
				console.log(err);
				alert(err);
				alert("Error");
			}
		});
}
/*function form_validate()
{
var name,mob,email,comments;
name=document.getElementById("name").value;
mob=document.getElementById("mob").value;
email=document.getElementById("email").value;
comments=document.getElementById("comments").value;
if(name==""||mob=""||email=""||comments="")
{alert("Please Enter All fields");return false;}
else return true;
}*/
</script>
<br><br>
<a href="/logout" class="btn btn-info">Logout</a> 
</body>
</html>
